div {

	background: linear-gradient(to bottom right, #66CDAA , #1E90FF , #000080);
	border: 2px solid #000000;
	text-align: center;
	font-size: 12px;
	font-family: Verdana;
	padding: 4px;
	margin-left: 55px;
    margin-right: 55px;
    line-height: 2;
}

#text1{
	color: #006400;
}